app-card {
  .card-img-container {
    margin-top:20px;
    margin: auto;
    width: 330px;
  }
  .card-img {
    border: 10px white solid;
  }
  .card-title {
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
  }
  .card-year {
    margin-top: 20px;
    display: inline-block;
    font-weight: 300;
  }
}
