app-header {
  height: 150px;
  .header {
    margin-bottom:30px;
  }
  .logo-container {
    @include media-breakpoint-only(xs) {
       margin: auto;
       width: 130px;
    }
  }
  .search-container {
    width: 270px;

  }
  .search-input {
    width: 240px
  }
  .logo {
    height: 100px;
    @include media-breakpoint-up(sm) {
      height: 150px;
    }
  }

  .nav {
    font-size: 20px;
  }

  .nav-button {
    color: black;
    padding: 20px;
  }
}
